---
layout: default
title: Junior Model Theory Seminar
navbar_title: Unterseminar
---

<div class="my-3 bg-white shadow-sm rounded-xl">
  <h3 class="p-3 mb-0 border-bottom border-gray">
    Junior Model Theory Seminar
  </h3>

  <div class="p-3">

    <p>
      This is the webpage of the Junior Model Theory Seminar at the University of Münster (Summer Semester 2026).
    </p>

    <p>
      Everyone who is interested in model theory and does not hold a PhD yet is very welcome 
      to attend the seminar and to possibly also give a talk. The aim is that we can get an 
      idea on what the people around us are doing. The seminar is a safe space where you can 
      also try out talks on ongoing work etc. It is a good opportunity to practice 
      giving talks :-)
    </p>

    <p>
      The seminar is taking place on XXX at XXX in the seminar room on the first floor 
      of Orléans-Ring 10. We meet there at XX for tea.
    </p>

  </div>
</div>


<div class="my-3 bg-white shadow-sm rounded-xl">
  <h4 class="p-3 mb-0 border-bottom border-gray">
    Talks
  </h4>

  <div class="p-3">

    {% for talk in site.data.unterseminar %}
      <div class="mb-3">

        <strong>Date:</strong> {{ talk.date }} <br>

        {% if talk.speaker %}
          <strong>Speaker:</strong> {{ talk.speaker }} <br>
          <strong>Title:</strong> {{ talk.title }}
        {% else %}
          <span class="text-muted">
            <em>Slot available — feel free to sign up for a talk!</em>
          </span>
        {% endif %}

      </div>
    {% endfor %}

  </div>
</div>
