{% assign talks_by_title = site.news | group_by_exp: "item", "item.title" %}

<div class="my-3 bg-white shadow-sm rounded-xl">
<h6 class="p-3 mb-0 border-bottom border-gray">
<i class="fas fa-rss"></i> Talks
</h6>

<div class="px-3 pb-2">

{% for talk in talks_by_title %}

<div class="talk-entry py-2">

<div class="talk-title">
{{ talk.name }}
</div>

<ul class="talk-venues mb-0">

{% for item in talk.items %}
<li>
{{ item.venue }}
<span class="text-muted">({{ item.date | date: "%Y" }})</span>
</li>
{% endfor %}

</ul>

</div>

{% endfor %}

</div>
</div>
