{% assign talks = site.news %}

<div class="my-3 bg-white shadow-sm rounded-xl">
<h6 class="p-3 mb-0 border-bottom border-gray">
<i class="fas fa-rss"></i> Talks
</h6>

<div class="px-3 pb-2">

{% for talk in talks %}

<div class="talk-entry py-2">

<div class="talk-title">
{{ talk.title }}
</div>

<ul class="talk-venues mb-1">

{% for v in talk.venues %}

<li>
{{ v.place }}
<span class="text-muted">
({{ v.date | date: "%b %d, %Y" }})
</span>
</li>

{% endfor %}

</ul>

</div>

{% endfor %}

</div>
</div>
